<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">
<div class="container mt-5 text-center">

<h2>📊 Dashboard</h2>

<div class="row mt-4">
<div class="col-md-4"><div class="card bg-primary p-3">Total<br>{{total}}</div></div>
<div class="col-md-4"><div class="card bg-danger p-3">Phishing<br>{{phishing}}</div></div>
<div class="col-md-4"><div class="card bg-success p-3">Safe<br>{{safe}}</div></div>
</div>

</div>
</body>
</html>
